.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}


.title {
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  margin-top: 1px;
  margin-bottom: 3px;

}

.train-button, .clear-button {
  padding: 5px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
}

.train-button:hover, .clear-button:hover {
  background-color: #45a049;
}

.train-button:active, .clear-button:active {
  background-color: #3e8e41;
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border: 3px solid #4caf50;
  border-radius: 12px;
  margin-right: 20px;

}

.setting-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.setting-label {
  margin-right: 10px;
}

.setting-input,
.setting-select {
  padding: 5px;
  border-radius: 4px;
}

.metrics-container {
  border: 3px solid #4caf50;
  border-radius: 12px;
  margin-top: 20px;
}

.metrics-container div {
  margin-top: 35px;
}

.settings-metrics-container {
  display: flex;
}